{% extends 'layout.html' %}

{% block page_title %}
    {{ category }}
{% endblock  %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <h1>{{ category|title }}</h1>
                {% if products|length > 0 %}    
                    <div>
                        {% for product in products %}
                            {{ product|title }}
                        {% endfor %}
                    </div>
                {% else %}
                    {% include 'partials/_no_product.html' %}   
                {% endif %}
        </div>
    </div>
    

{% endblock %}